/* 
    RESET
*/

html {
    font-family: Arial, Helvetica, sans-serif;
}

/* 
    GENERAL
*/
.mar-bot-20 {
    margin-bottom: 20px;
}

.box {
    height: 50px;
    background-color: brown;
    color: white;
    border: 1px solid white;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    padding: 10px;
}

.box-large {
    height: 100px;
    background-color: brown;
    color: white;
    border: 1px solid white;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
    padding: 10px;
}

.box-small {
    height: 30px;
    background-color: lawngreen;
    color: white;
    border: 1px solid brown;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}



/* non sembra il modo migliore*/
.align-middle {
    margin: auto 0;
}

.align-bottom {
    margin-top: auto;
}

.row.around-row {
    justify-content: space-around;
}

.row.between-row {
    justify-content: space-between;
}